/* Icons */
.icon {
	display: inline-block;
	height: 100%;
	width: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	&_logo {
		background-image: url(../images/top5.svg);
	}
	&_star {
		width: 10px;
		height: 10px;
		background-image: url(../images/star.svg);
	}
	&_val {
		background-image: url(../images/Valentime.svg);
	}
	&_rt {
		background-image: url(../images/rt.svg);
	}
	&_charm {
		background-image: url(../images/charm.svg);
	}
	&_swan {
		background-image: url(../images/swan.svg);
	}
	&_top {
		background-image: url(../images/up.svg);
	}
}