// Timing Function 
$ttf: cubic-bezier(0.5, 0, 0.5, 1);


html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
body {
	font-family: 'Muli', sans-serif;
}

@import 'components/icons';
@import 'components/mobile';
@import 'components/tablet';
@import 'components/desctop';
